div#container{

    main{

        form{

            div.container-label{
                text-align: center;
                margin: 20px 0;
            }

            div.container-input{
                text-align: center;

                input{
                    padding: 15px 45px;
                }
                #image{
                    padding: 0 0;
                }
            }
            div#submit{
                text-align: center;
                margin-top: 30px;
            }

            #brand_id{
                padding: 15px 70px;
            }

            #container-pilot{
                list-style: none;
                margin: 20px 0;
            }
        }
    }
}